.currency_panel{
	float:left;
	/*background-color:#ddd;*/
	background-color:#EAEAEF;
	/*background-color:#C0C0C0;*/
	border:1px dotted gray;	
	padding:5px;
	margin-left:-9px;
	/*z-index:100;
	position:absolute;*/
}

.priceLarge{
	font-weight:bold;
}

#buyingPriceLabel{
	vertical-align:top;
}

#cur_overview{	
	border:1px solid #555;
	border-radius:5px;
}

#cur_list li{	
	padding:0px 0px;
	margin:0px;
	list-style-type: none;
	color:#b12704!important;
}

#cur_list li span {
	/*font-size:15px;
	font-weight:bold;*/
}

#cur_list li img{
	height:10px;	
	vertical-align:middle;
}

#cur_list li:hover{
	background-color: white;
}

#cur_list{	
	list-style-type: none;	
	margin:0px;
	padding:0px;
	text-decoration:none;
}
#open_options{
	text-decoration:none;
	width:100%;
	display:block;
	text-align:center;
	font-size:11px;
	opacity:0.2;
}
#open_options:hover{
	background-color: white;
	opacity:1;
}

.hidden {
	display: none;
}

